.button {
    display: inline-block;
    padding: 8px 5px;
    border-radius: 8px;
    color: black;
    background: white;
    cursor: pointer;
}

.XemDapAn {
    color: white;
    background: #20a30f;
}

.PhienAm {
    color: white;
    background: #1044b4;
}

.changeVocabular {
    background: #a02727;
    font-size: 16px;
    font-weight: 600;
}