@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --bff: "Jost";
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--bff);
  font-size: 18px;
  letter-spacing: 0;
  font-weight: 400;
  color: #0b0a0c;

  /* background:
    linear-gradient(90deg, #ffffffda 0%, #ecececda 20%, #e2e2e2da 40%, #dbdbdbda 60%, #c5c5c5da 100%); */
}

a {
  text-decoration: none;
}